#wrapper {
	padding: 10px;
	width: 300px;
	min-height: 250px;
	overflow: hidden;
}

html, body {
	overflow-x: hidden;
	overflow-y: auto;
}

#contentTime {
	
	padding: 20px;

}

.modal-content p {
	color: #fff;
}

#passIncorreta{
	color: red;
}

#configSongOn{
	padding-left: 50px;
}