#wrapper {
	padding: 10px;
	width: 300px;
	min-height: 250px;
}

html, body {
	overflow: hidden;
}

#contentTime {
	
	padding: 20px;

}

.modal-content p {
	color: #fff;
}

#passIncorreta{
	color: red;
}